:root {
  --color-principal: rgb(43, 133, 181);
  --color-secundario: rgb(131, 191, 244);
  --color-hover: rgb(22, 64, 119);
}
body {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imagenes/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-img {
  height: 90px;
  width: auto;
  transition: transform 0.3s ease;
}
.logo-img:hover {
  transform: scale(1.05);
}
.log-gab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 150px;
  padding: 0 20px;
  background: linear-gradient(
    90deg,
    var(--color-principal),
    var(--color-secundario)
  );
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.3);
}
nav {
  background: none;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 40px;
}
li a {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3 ease;
}
li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: var(--color-hover);
  transition: width 0.3s ease;
}
li a:hover {
  color: var(--color-hover);
}
li a:hover::after {
  width: 100%;
}
.principal {
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-transform: uppercase;
  color: #16b1cc;
}
.intro {
  text-align: center;
  color: white;
}
.intro p {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 2rem;
}

.bebidas {
  text-align: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: rgb(255, 255, 255);
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
.item {
  border-radius: 10px;
  border: none; /*10px solid rgb(18, 214, 228);*/
  background-color: rgba(11, 200, 233, 0.9);
  padding: 10px;
  transition: 0.3s;
}
.item:hover {
  background-color: slategray;
  color: rgb(253, 253, 253);
  /*transform: scale(1.05);*/
  transform: translate(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.ordenar {
  background-color: saddlebrown;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
.ordenar:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.contenedor2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
.comida {
  text-align: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: white;
}
.postres {
  text-align: center;
  color: white;
}
.contenedor3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px;
}
footer {
  background-color: rgb(4, 217, 245);
  color: white;
  text-align: center;
  transition: background-color 0.5s ease;
  padding: 20px;
}
footer:hover {
  background-color: #555;
}
footer:hover p {
  transform: translate(-5px);
}
